laptop_etc/
.config/bumblebee-status
.config/clipit/
.config/cmus/
.config/dconf/
.config/doublecmd/
.config/gtk-3.0/
.config/i3/workspace-1b.json
.config/i3/workspace-1c.json
.config/i3/config.bak
.config/keepassxc/
.config/Kvantum/
.config/polybar/config.backup
.config/powerline-shell/themes/__pycache__/
.config/powerline-shell/themes/flat.py
.config/powerline-shell/themes/gruvbox.py
.config/powerline-shell/themes/solarized_dark.py
.config/powerline-shell/themes/solarized_light.py
.config/powerline-shell/themes/washed.py
.config/qutebrowser/bookmarks
.config/qutebrowser/quickmarks
.config/qutebrowser/dracula
.config/qutebrowser/config.py.bak
.config/smplayer/
.config/termite/config.bak
.config/vifm/colors/Default.vifm
.config/vifm/colors/desert.vifm
.config/vifm/colors/lucious.vifm
.config/vifm/colors/zenburn.vifm
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
