.config/Kvantum/
.config/blender/
.config/clipit/
.config/cmus/
.config/dconf/
.config/doublecmd/
.config/i3/workspace-1b.json
.config/i3/workspace-1c.json
.config/keepassxc/
.config/polybar/config.backup
.config/powerline-shell/themes/__pycache__/
.config/powerline-shell/themes/flat.py
.config/powerline-shell/themes/gruvbox.py
.config/powerline-shell/themes/solarized_dark.py
.config/powerline-shell/themes/solarized_light.py
.config/powerline-shell/themes/washed.py
.config/qutebrowser/
.config/rofi/Monokai.rasi
.config/rofi/arc-red-dark.rasi
.config/rofi/base16.rasi
.config/rofi/fancy.rasi
.config/rofi/flat-orange.rasi
.config/rofi/material.rasi
.config/rofi/oxide.rasi
.config/rofi/rezlooks.rasi
.config/rofi/ribbon.rasi
.config/rofi/sidetab.rasi
.config/rofi/solarized-darker.rasi
.config/smplayer/
.config/vifm/colors/Default.vifm
.config/vifm/colors/desert.vifm
.config/vifm/colors/lucious.vifm
.config/vifm/colors/zenburn.vifm
.config/vifm/scripts/
.config/vifm/vifm-help.txt
.config/vifm/vifminfo
