[Desktop Entry]
Name=GruvboxPlusLight
X-KDE-PluginInfo-Author=Eleuth
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=GruvboxPlusLight
X-KDE-PluginInfo-Version=0.8
X-KDE-PluginInfo-Website=https://github.com/SylEleuth/dotfiles/tree/master/KDE
